<!DOCTYPE html>
<!--Início do código-->
<html>
   
  <!--Cabeçalho da página-->
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Loja Bona - 3°A </title>
      <link href="/style.css" rel="stylesheet" type="text/css"/>
   </head>
   <!--Fim do cabeçalho da página-->
  
   <!--Corpo da página-->
   <body>
      <img
         src="/public/img/imagemlogo.png">
      <br>
     
      <!--Botão abaixo da imagem-->
      <center>
         <button>
            <p1>
               A compra de jogos é totalmente segura pelo nosso site, nós garantimos!
            </p1>
         </button>
      </center>
      <br>
     
      <!--Link para a página de cadastro-->
      <center>
         <a class="link-record-sell" href="/index.html">Cadastre-se aqui</a>
      </center>
      <br>
     
      <!--Comentário acima do formulário-->
      <h1>
         Preencha o formulário  abaixo para realizar a compra
      </h1>
      <br><br>
     
      <!--Formulário de Preenchimento-->
     <form>
      <center>
         <table>
            <tr>
               <td>Nome:</td>
               <td><input class="input-form" type="text"></td>
            </tr>
            <tr>
               <td>Ano:</td>
               <td><input class="input-form" type="text"></td>
            </tr>
            <tr>
               <td>Estilo:</td>
               <td><input class="input-form" type="text"></td>
            </tr>
         </table>
      </center>
      <!--Fim do formulário de preenchimento-->
     
      <br><br>
     
      <!--Botão com ações "Limpar" e "Cadastrar"-->
      <center>
         <input class="button-sub-reset" type="submit" value="Cadastrar">
         <input class="button-sub-reset" type="reset" value="Limpar">
      </center>
     </form>
   </body>
   <!--Fim do corpo da página-->
  
</html>
<!--Fim do código-->